MUSIC_AI_IMAGE_TAG=<immutable-release-tag>
MUSIC_AI_SITE_ADDRESS=<practice.example.com>
MUSIC_AI_DATABASE_PASSWORD_FILE=./secrets/database_password
MUSIC_AI_TOKEN_PEPPER_FILE=./secrets/token_pepper
MUSIC_AI_MAINTENANCE_INTERVAL_SECONDS=300
MUSIC_AI_RAW_AUDIO_TTL_SECONDS=900
